:root{
    --header-background-clr: #FCA3B9;
    --sidebar--background-clr:#E2C2B3 ;
    --nav--background-clr:#E2C2B3 ;
    --article--background-clr: #403234;
    --footer--background-clr:#FCA3B9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    min-height: 100vh;
    line-height: 1.3;

    background-color: #F6F4F9 ;
    
}
.items >ul>li{
    list-style-type: none;
}

.items>ul{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
}
.nav ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    place-items: center;

}
.header{
    background-color: var(--header-background-clr);
    padding: 20px;
}
.sidebar{
    background-color: var(--sidebar--background-clr);
    display: grid;
    gap: 20px;
    padding: 10px;
}
.nav{
    background-color: var(--nav--background-clr);
    padding: 10px;
}
.article{
    background-color: var(--article--background-clr);
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    padding: 20px;
    gap: 15px;
}
.footer{
    background-color: var(--footer--background-clr);
    padding: 20px;
    text-align: center;
}
a:link{
    text-decoration: none;
}

.box1,
.box2,
.box3,
.box4{
    /* background-color: #FCA3B9; */
    text-align: center;
    padding: 10px;
}

.article1,
.article2,
.article3,
.article4,
.article5,
.article6,
.article7,
.article8,
.article9,
.article10,
.article11,
.article12{
    background-color: white;
    padding: 10px;
     place-content: center;
     height: 200px;
}
h4{
    text-align: center;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 5px;
}
.grid-column-span{
    grid-column: span 2;
}
.grid-row-span{
    grid-row: span 2;
}





img{
    height: 250px;
}